<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
	<div id="button-container" style="margin-top: 20px;margin-left: 20px;"></div>
	<div style="margin-top: 20px;margin-left: 20px;">
		<input type="radio" id="normal" name="radio" checked></input>
		<label for="normal">正常样式</label>
		<input type="radio" id="disabled" name="radio"></input>
		<label for="disabled">置灰样式</label>
		<input type="radio" id="dark" name="radio"></input>
		<label for="dark">dark样式</label>
		<input type="radio" id="click" name="radio"></input>
		<label for="click">添加click事件</label>
	</div>
	<div style="margin-top: 20px;margin-left: 20px;">
		<input type="text" id="changeText"></input>
		更改按钮显示内容
	</div>
</body>
</html>